<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>web3.0帳戶查詢工具</title>
    <link href="../lib/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_css_bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../lib/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_js_bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../lib/cdn.bootcdn.net_ajax_libs_jquery_3.6.4_jquery.min.js"></script>
    <script src="../lib/cdn.bootcdn.net_ajax_libs_jquery_3.6.4_jquery.slim.min.js"></script>
    <script src="../lib/cdnjs.cloudflare.com_ajax_libs_angular.js_1.8.3_angular.min.js"></script>
    <script src="../lib/dialogService.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/dialog.css">
    <script src="cdnjs.cloudflare.com_ajax_libs_web3_4.1.2-dev.a325689.0_web3.min.js"></script>
    <script src="tokens.js"></script>
    <script src="erc20Abi.js"></script>
    <script src="web3.0.js"></script>
</head>
<body ng-controller="Web3Ctrl">
    <div class="row">
        <div class="col"><h1><span class="badge bg-secondary">帳戶：</span>{{currentAccount}}</h1></div>
        <div class="col-auto">
            <select class="form-select" ng-model="vs_currencies" ng-change="convert_change()">
                <option>TWD</option>
                <option>USD</option>
            </select>
        </div>
        <div class="col-auto">
            <a ng-show="!isconnectMetamask" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button" ng-click="connectMetamask()">連結Metamask</a>
            <a ng-show="isconnectMetamask" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button" ng-click="disconnectMetamask()">中斷Metamask</a>
        </div>
    </div>
    <div class="row">
        <div class="col"><h3><span class="badge bg-secondary">全部資產：</span>{{allCoinTotalBalance}} {{vs_currencies}}</h3></div>
    </div>
    <div class="row">
        <div class="col-3" ng-click="cardClick(value)" ng-repeat="(key,value) in tokens">
            <div ng-class="chainList[value.Main].showTable?'card border-primary':'card'">
                <div class="card-header">{{value.Main}}</div>
                <div class="card-body">帳戶價值： <span class="badge bg-info">{{chainList[value.Main].coinTotalBalance}} {{vs_currencies}}</span></div>
                <div class="card-footer">
                    <div class="progress">
                        <div id="progressBar{{key}}" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" ng-show="value.showTable" ng-repeat="(key,value) in chainList">
        <table class="table caption-top">
            <caption>Chain：{{key}}</caption>
            <thead>
                <tr>
                    <th scope="col">幣</th>
                    <th scope="col">{{vs_currencies}}</th>
                    <th scope="col">顆</th>
                    <th scope="col">價值</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coin in value.coinList">
                    <th>{{coin.name}}</th>
                    <td>{{coin.value}}</td>
                    <td>{{coin.balance}}</td>
                    <td>{{coin.balance*coin.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
