<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>web3.0帳戶查詢工具</title>
    <link href="../lib/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_css_bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../lib/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_js_bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../lib/cdn.bootcdn.net_ajax_libs_jquery_3.6.4_jquery.min.js"></script>
    <script src="../lib/cdn.bootcdn.net_ajax_libs_jquery_3.6.4_jquery.slim.min.js"></script>
    <script src="../lib/cdnjs.cloudflare.com_ajax_libs_angular.js_1.8.3_angular.min.js"></script>
    <script src="../lib/dialogService.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/dialog.css">
    <script src="cdnjs.cloudflare.com_ajax_libs_web3_4.1.1_web3.min.js"></script>
    <script src="tokens.js"></script>
    <script src="erc20Abi.js"></script>
</head>
<script>
    angular.module("app", ['dialogService'])
        .controller("Web3Ctrl", function($scope,dialogService) {
            $scope.vs_currencies = "TWD";
            $scope.isconnectMetamask = false;
            $scope.currentAccount="";
            // 实例化web3
            window.web3 = new Web3(ethereum);
            var web3 = window.web3;
            $scope.connectMetamask = async function(){
                if (typeof window.ethereum !== 'undefined') {
                    console.log('MetaMask is installed!');
                }else{
                    dialogService.showAlert('MetaMask未安裝');
                    return;
                }
                // 请求用户授权 解决web3js无法直接唤起Meta Mask获取用户身份
                const enable = await ethereum.enable();
                console.log(enable,11);
                // 授权获取账户
                var accounts = await web3.eth.getAccounts();
                if (accounts && accounts.length > 0) {
                    console.log("user is connected");
                } else {
                    console.log("user not connected");
                    return;
                }
                var chainId = Number(await web3.eth.getChainId());
                var asset_platforms = await fetch(`https://api.coingecko.com/api/v3/asset_platforms`);
                const asset_platforms_json = await asset_platforms.json();
                var asset_platforms_id = asset_platforms_json.find(x => x.chain_identifier === chainId).id;
                $scope.$apply(() => {
                    // 取第一个账户
                    $scope.currentAccount = accounts[0];
                    console.log($scope.currentAccount, 1);
                    $scope.isconnectMetamask = true;
                    getbalance(asset_platforms_id,chainId,$scope.currentAccount,$scope.vs_currencies);
                })
            }
            $scope.disconnectMetamask = async function(){
                if (typeof window.ethereum === 'undefined') {
                    return;
                }
                if (!ethereum.isConnected()) {
                    return;
                }
                await window.ethereum.request({
                    method: "eth_requestAccounts",
                    params: [{eth_accounts: {}}]
                })
                $scope.$apply(() => {
                    delete $scope.currentAccount;
                    delete $scope.isconnectMetamask;
                    delete $scope.coinList;
                    delete $scope.coinTotalBalance;
                    $("#progressBar").width("0%");
                    $("#progressBar").parent().parent().show();
                    dialogService.showAlert('登出MetaMask連接');
                })
            }
            async function getbalance(asset_platforms_id,chainId,currentAccount,vs_currencies){
                // 返回指定地址账户的余额
                var mainbalance = await web3.eth.getBalance(currentAccount);
                var etherBalance = web3.utils.fromWei(mainbalance, 'ether');
                console.log(etherBalance, 2);

                var tokensBalance=[];
                for (let subToken of tokens[chainId].subTokens) {
                    let balance = await getTokenBalance(subToken, currentAccount);
                    balance.contract = subToken;
                    tokensBalance.push(balance);
                }

                $("#progressBar").parent().parent().show();
                $("#progressBar").width("0%");
                var main = tokens[chainId];
                var coins = {};
                var total = 0;
                var t = Object.entries(tokensBalance);
                var add = 100/t.length+1;
                var progress = 0;
                coins[main] = {};
                coins[main].name = main.Main.name;
                coins[main].balance = etherBalance;
                coins[main].value = await getCoinID(main.CoinID,vs_currencies);
                total+=coins[main].balance*coins[main].value;
                progress+=add;
                $("#progressBar").width(progress+"%");
                for (const [key, value] of t) {
                    coins[value.symbol] = {};
                    coins[value.symbol].name = value.symbol;
                    coins[value.symbol].balance = value.balance;
                    coins[value.symbol].value = await getContractAddresses(asset_platforms_id,value.contract,vs_currencies);
                    total+=coins[value.symbol].balance*coins[value.symbol].value;
                    progress+=add;
                    $("#progressBar").width(progress+"%");
                }

                $scope.$apply(() => {
                    $("#progressBar").parent().parent().hide();
                    $scope.coinTotalBalance = total;
                    list(coins);
                })
            }

            function list(coins){
                const keys = Object.keys(coins);
                const maxKeysPerColumn = 3;
                const numRows = Math.ceil(keys.length / maxKeysPerColumn);
                const table = new Array(numRows);
                for (let i = 0; i < keys.length; i++) {
                    const key = keys[i];
                    const row = Math.floor(i / maxKeysPerColumn);
                    if (!table[row]) {
                        table[row] = [];
                    }
                    var content = coins[key];
                    table[row].push(content);
                }
                $scope.coinList = table;
            }

            async function getCoinID(ids,vs_currencies){
                var handleError = function (err) {
                    console.warn(err);
                    return new Response(JSON.stringify({
                        code: 400,
                        message: 'Stupid network Error'
                    }));
                };
                const res = await fetch(`https://api.coingecko.com/api/v3/simple/price?ids=${ids}&vs_currencies=${vs_currencies}`).catch(handleError);
                if (res.ok) {
                    const token_price = await res.json();
                    if (token_price[ids]) {
                        return token_price[ids][vs_currencies.toLowerCase()];
                    } else {
                        return 0;
                    }
                }else{
                    return 0;
                }
            }

            async function getContractAddresses(id,contract_addresses,vs_currencies){
                contract_addresses = contract_addresses.toLowerCase();
                var handleError = function (err) {
                    console.warn(err);
                    return new Response(JSON.stringify({
                        code: 400,
                        message: 'Stupid network Error'
                    }));
                };
                const res = await fetch(`https://api.coingecko.com/api/v3/simple/token_price/${id}?contract_addresses=${contract_addresses}&vs_currencies=${vs_currencies}`).catch(handleError);
                if (res.ok) {
                    const token_price = await res.json();
                    if (token_price[contract_addresses]) {
                        return token_price[contract_addresses][vs_currencies.toLowerCase()];
                    } else {
                        return 0;
                    }
                }else{
                    return 0;
                }
            }

            /**
             * 获得钱包代币数量
             * tokenAddress: 代币合约地址
             * address: 钱包地址
             **/
            const getTokenBalance = async (tokenAddress, address) => {
                ////创建代币的智能合约函数
                let tokenContract = new web3.eth.Contract(erc20Abi, tokenAddress);
                //调用代币的智能合约获取余额功能
                let result = await tokenContract.methods.balanceOf(address).call();
                //获得代币有多少位小数
                let decimals = await tokenContract.methods.decimals().call();
                let weiName = getWeiName(decimals);
                let tokenBalance = web3.utils.fromWei(result, weiName);
                //获得代币的符号
                let symbol = await tokenContract.methods.symbol().call();
                return {balance:tokenBalance,symbol:symbol};
            }

            /**
             * 通过小数点多少位，转换对应的数据
             * tokenDecimals: 代币的小数点数
             *
             **/
            function getWeiName(tokenDecimals = 18) {
                tokenDecimals = Number(tokenDecimals);
                let weiName = 'ether';
                switch (tokenDecimals) {
                    case 3:
                        weiName = "Kwei";
                        break;
                    case 6:
                        weiName = 'mwei';
                        break;
                    case 9:
                        weiName = 'gwei';
                        break;
                    case 12:
                        weiName = 'microether ';
                        break;
                    case 15:
                        weiName = 'milliether';
                        break;
                    case 18:
                        weiName = 'ether';
                        break;
                    default:
                        weiName = 'ether';
                        break;

                }
                return weiName;
            }
        } )
</script>
<body ng-controller="Web3Ctrl">
    <div class="row">
        <div class="col"><h1><span class="badge bg-secondary">帳戶：</span>{{currentAccount}}</h1></div>
        <div class="col-auto">
            <a ng-show="!isconnectMetamask" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button" ng-click="connectMetamask()">連結Metamask</a>
            <a ng-show="isconnectMetamask" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button" ng-click="disconnectMetamask()">中斷Metamask</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">
                帳戶價值： <span class="badge bg-info">{{coinTotalBalance}}</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="progress">
            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
        </div>
    </div>
    <div class="row" ng-repeat="(key, value) in coinList">
        <div style="margin: 10px;" class="col" ng-repeat="coin in value">
            <div class="card">
                <div class="card-header">{{coin.name}}/{{vs_currencies}}（{{coin.value}}）</div>
                <div class="card-body">{{coin.balance}}顆</div>
                <div class="card-footer">價值：{{coin.balance*coin.value}}</div>
            </div>
        </div>
    </div>
</body>
</html>
